@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --text-primary: #FFFFFF;
    --text-secundary: #FFFFFF;
    --font-heading: 'Poppins';
    --font-default: 'Montserrat'
        font-size: 62.5%
}

html {

    scroll-behavior: smooth;

}

body {
    font-family: var(--font-default);
}

.loader {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spin {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #d0d0d0;
    border-top: 10px solid #000;
    animation: spin 2s linear infinite;
}

.hiden {

    display: none;
}


@keyframes spin { 

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


#hamburguer {
    position: fixed;
    right: 2rem;
    top: 2rem;
    height: 3rem;
    width: 3rem;
}

#hamburguer .linha {

    height: .5rem;
    width: 100%;
    background-color: #000;
    box-shadow: 0 .2rem .2rem #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #000000;
    height: 85vh;
    width: 20rem;
    z-index: 10;
    right: -20rem;
    transition: right 1s;
}

.menu-show {

    right: 0;
}

nav li {

    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
}

nav a:hover {
    color: #c31432;

}



header {
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding-top: 12.5rem;
    padding-left: 7rem;
    overflow: hidden;
    position: relative;
    gap: 1rem;

}


header::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(aside/images/Foto_nova_capa.jpg);
    background-size: cover;


}

@keyframes zoom {

    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

h1,
h2,
h3,
h4 {

    font-weight: 900;
    color: #ffffff;
    font-family: var('');
    text-align: center;
}

h1 {
    font-size: 5rem;
    padding-top: 3.12rem;
    text-align: center;


}

h2 {
    font-size: 3rem;



}

span {
    font-size: 50px;
    color: #fff;
    font-family: 'Montserrat';

}

p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;

}


.botao {
    margin: 10px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    /* para deixa tudo em letra maiscula! */
    text-decoration: none;
    background: linear-gradient(15deg, #20120E, #D9D9D9);
    padding: 1rem 2rem;
    border-radius: 7px;
    text-align: center;
}

.botao:houver {
    color: #131212;
    opacity: .7;
}

#avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

/* flex box */
section {
    display: flex;
    gap: 2rem;
    padding: 7rem;
    background-image: url();
    background: linear-gradient(#392924, #0D0D0D);
    justify-content: left;
    align-items: top;


}

div {

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    align-items: flex-start;




}


#secao-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000008;
    background-image: url(aside/images/Fundo\ 2.jpg);
}

#secao-projetos ul {
    display: flex;
    justify-content: space-between;
    color: var(--text-primary);
    gap: 2rem;


}

#secao-projetos li {
    list-style: none;

}

@keyframes animação {

    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }

    50% {
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        transform: translateX(-8px) translateY(8px);
    }
}



.card {

    width: 25rem;
    height: 30rem;
    position: relative;
    cursor: pointer;


}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 1rem;


}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    opacity: 0.8;
    transition: opacity 0.3s;

}

.card:hover .card-img-wrapper img {
    opacity: 0.5;

    animation-name: animação;
    animation-duration: 10s;
    animation-delay: 0.1s;

}

.card-text {
    align-items: center;
    bottom: -2rem;
    opacity: 0;
    padding: 2rem;
    position: absolute;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;



}

.card:hover .card-text {
    opacity: 1;
    bottom: 0;
}



#secao-projetos h3 {
    font-family: var(--font-default);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.3rem;
    color: #faf8f8;


}

#secao-projetos p {
    font-size: 1.5rem;
}




#secao-orcamento {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./aside/images/orcamento.jpg);
    background-size: cover;
}

#secao-orcamento form {
    display: grid;
    row-gap: -1.5rem;
    font-size: 2.5rem;
    justify-items: start;
    grid-template-columns: 1fr auto;
    background-color: #fff9;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 4rem;
    z-index: 10;

}

#secao-orcamento form h3 {
    background-color: #094b7e;
    color: var(--text-primary);
    position: absolute;
    top: -10%;
    left: 5%;
    padding: 1rem 3rem;
    border-radius: 10px;
}

.input-group {

    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    padding: 0 1rem;
    align-items: center;
}

input[type=text],
input[type=number] {
    font-size: 2rem;
    outline: none;
    padding: 1rem;
    border-radius: 5px;
    border: 0;

}

#secao-orçamento form output {
    grid-column: 2;
}

@media (width <=890px) {
    #secao-projetos ul {

        flex-direction: column;
    }

    #secao-orcamento form {
        display: flex;
        flex-direction: column;
    }

}

@media (width < 768px) {

    .only-large {
            display: none;
        }

    p {
        width: auto;
    }
    
    .secao-apresentacao {
        width: auto;
    }

    .secao-orcamento {
        width: auto;
    }

    #secao-orcamento form{
        width: auto;
    }
}